<div class="border border-dark rounded p-md-3 p-1">
    <h3>Debug Information</h3>
    @if (Data != null)
    {
        @foreach (string datum in Data)
        {
            <p class="p-0 m-0" style="font-size: small">@datum</p>
        }
    }
</div>

@code
{
    [Parameter]
    public IEnumerable<string> Data { get; set; }
}