<div class="p-md-3 p-1 mb-2">
    <h3>Instructions</h3>
    <p>Press the yellow plunger to send a code.  Try to send the code that the machine is asking you for; it will try to understand what you send.  When you pause 
    for long enough, the machine will tell you if you were correct&mdash;or what it thinks you sent, if you weren't.  Your cumulative score is shown on the right.</p>
    <p>Running in your browser using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor Webassembly 3.2.0</a>.  
    The source code is <a href="https://github.com/willsalt/bellcode-tester-blazor/">hosted on GitHub.</a></p>
</div>
