@inject IModalService modal

<div class="p-md-3 p-1 mb-2">
    <h3>Instructions</h3>
    <p>
        Press the yellow plunger to send a code.  Try to send the code that the machine is asking you for; it will try to understand what you send.  When you pause
        for long enough, the machine will tell you if you were correct&mdash;or what it thinks you sent, if you weren't&mdash;and give you another code to send. 
        Your cumulative score is shown on the right, with a button to reset it.
    </p>
    <p>
        The list of bell codes is based on that currently used by the <a href="https://www.svr.co.uk/">Severn Valley Railway</a> with some of the descriptions reworded
        for conciseness.
    </p>
    <p>The debug pane below shows the exact timings of your plunger presses, if you don't understand why the machine interpreted your code the way it did.</p>
    <p>
        Running in your browser using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor Webassembly 3.2.0</a>.
        The source code is <a href="https://github.com/willsalt/bellcode-tester-blazor/">hosted on GitHub.</a>
    </p>
    <p><button @onclick="@(() => modal.Show<CodeListDialog>("Bell codes"))" class="btn btn-primary">Show bell codes</button></p>
</div>
