<div>
    @if (TotalPlayed > 0)
    {
        <p>Score: @(ScoredCorrect)/@TotalPlayed <button @onclick="@(() => ResetScore.InvokeAsync(this))" class="btn btn-outline-light">Reset</button></p>
    }
    else
    {
        <p>Score: 0</p>
    }
</div>
@code {
    [Parameter]
    public int TotalPlayed { get; set; }

    [Parameter]
    public int ScoredCorrect { get; set; }

    [Parameter]
    public EventCallback ResetScore { get; set; }
}
